# Default
*               text=auto
# Explicit
*.css           text eol=lf
*.html          text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.lock          text eol=lf
*.md            text eol=lf
*.php           text eol=lf
*.twig          text eol=lf
*.yaml          text eol=lf
.env            text eol=lf
.env.local      text eol=lf
# Git
.gitattributes  text eol=lf
.gitignore      text eol=lf
# Binaries
*.ico           binary
